:root {
  --primary-color-base: #326fd1;
  --primary-color-darker: #295bac;
  --secondary-color-base: #5457cd;
  --secondary-color-darker: #4547a9;
  --secondary-color-base: #5457cd;
  --secondary-color-darker: #4547a9;
  --success-color-base: #1da750;
  --success-color-darker: #188a42;

  --gray-base: #46464d;
  --gray: #39393f;

  --text-color-primary: #fafcfe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color-primary);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  background-color: #080b1d;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

textarea {
  width: 350px;
  height: 250px;
  font-size: 1rem;
  border-radius: 10px;
  outline: none;
  padding: 1rem;
  background: var(--gray);
  resize: none;
  border: none;

  &::placeholder {
    color: var(--text-color-primary);
  }

  &:not(:read-only):focus {
    outline: 3px solid var(--primary-color-darker);
  }
}

.footer-container {
  font-size: 1.1rem;
}

.button-container {
  display: flex;
  gap: 1rem;
  align-self: center;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.btn {
  min-width: 128px;
  height: 50px;
  background-color: var(--gray-base);
  padding: 1rem;
  border-radius: 10px;
  border: none;
  transition: 0.8s;
  font-size: 1rem;

  &:hover {
    cursor: pointer;
    background-color: var(--gray);
  }

  &:active {
    transform: scale(0.9);
  }
}

.mt-sm {
  margin-top: 1rem;
}

.mb-sm {
  margin-bottom: 1rem;
}

.title {
  display: inline-block;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 1rem;
  background-color: rgba(128, 58, 100, 0.9);
}

.bg-primary {
  background-color: var(--primary-color-base);
}

.hv-primary:hover {
  background-color: var(--primary-color-darker);
}

.bg-secondary {
  background-color: var(--secondary-color-base);
}

.hv-secondary:hover {
  background-color: var(--secondary-color-darker);
}

.bg-success {
  background-color: var(--success-color-base);
}

.hv-success:hover {
  background-color: var(--success-color-darker);
}

.success-state {
  background-color: var(--success-color-darker);
}

@media (width >= 1200px) {
  section {
    flex-direction: row;
  }
}
